<%- contentFor('body') %>
  <div>
    <form action="<%= updateUrl %>" method="POST">
      <label for="data">Data</label>
      <input type="date" name="data" id="data" value="<%= prescricao.data %>">
      <label for="validade">Validade</label>
      <input type="date" name="validade" id="validade" value="<%= prescricao.validade %>">
      <input type="submit" value="Salvar"> 
    </form>

  </div>

  <form action="<%= updateUrl %>/medicamento" method="POST">
    <input type="submit" value="Adicionar medicamento">
  </form>