<%- contentFor('body') %>
  <div>
    <form action="<%= updateUrl %>" method="POST">
      <label for="data">Data</label>
      <input type="date" name="data" id="data" value="<%= prescricao.data %>">
      <label for="validade">Validade</label>
      <input type="date" name="validade" id="validade" value="<%= prescricao.validade %>">
      <input type="submit" value="Save">
      <input type="submit" value="Excluir">
    </form>
  </div>

  <form action="<%= acolhido.id %>/prescricao/<%= prescricao.id%>/edit" method="POST">
    <input type="submit" value="ATUALIZAR">
  </form>

    <!-- <%for (prescricao of presc){%>
        - Prescrição -
        <br> Id:
        <%= prescricao.id %>
            <br> Intervalo:
            <%= prescricao.intervalo%>
                <br> Acolhido id:
                <%= prescricao.acolhido_id%>
                    <%}%> -->