<%- contentFor('body') %>
    <div class="tablesfarmaceutica">
        <table class="tablesfarmaceutica" style="width:90%">
            <th>Medicamento</th>
            <th>Via</th>
            <th>Intervalo</th>
            <th>Forma Farmacêutica</th>
            <th>Horário</th>
            <th>Lote</th>
            <th>Validade</th>
            <th>Dispensação</th>
    </div>


    <%for (farmacia of prescricao){%>
        <%for (medicamento of farmacia.medicamentos){%>
        <tr>
            <td class="medicamento">
                <%=medicamento.nomeMedicamento%>
            </td>
            <td>
                <%=medicamento.via%>
            </td>
            <td>
                <%=farmacia.intervalo%>
            </td>
            <td>
                <%=medicamento.formaFarmaceutica%>
            </td>
            <td>
                <%=farmacia.horario%> 
            </td>
            <td>
                <%=medicamento.lote%>
            </td>
            <td>
                <%=medicamento.validade%>
            </td>
            <td>
                <div class="input">
                    <input type="checkbox"> </div>
            </td>
        </tr>
        <% } %>
        <% } %>
            </table>