<%- contentFor('body') %>
    <div class="tablesfarmaceutica">
        <table class="tablesfarmaceutica" style="width:90%">
            <th>Medicamento</th>
            <th>Via</th>
            <th>Intervalo</th>
            <th>Forma Farmacêutica</th>
            <th>Horário</th>
            <th>Lote</th>
            <th>Validade</th>
            <th>Dispensação</th>
    </div>


    <%for (farmacia of prescricaoFarmacia){%>
        <tr>
            <td class="medicamento">
                <%=farmacia.nomeMedicamento%>
            </td>
            <td>
                <%=farmacia.via%>
            </td>
            <td>
                <%=prescricao.intervalo%>
            </td>
            <td>
                <%=farmacia.formaFarmaceutica%>
            </td>
            <td>
                <%=prescricao.horario%> 
            </td>
            <td>
                <%=farmacia.lote%>
            </td>
            <td>
                <%=farmacia.validade%>
            </td>
            <td>
                <div class="input">
                    <input type="checkbox"> </div>
            </td>
        </tr>
        <% } %>
            </table>