<%- contentFor('body') %>
    <div class="tablesfarmaceutica">
        <table class="tablesfarmaceutica" style="width:90%">
            <th>Medicamento</th>
            <th>Via</th>
            <th>Intervalo</th>
            <th>Forma Farmacêutica</th>
            <th>Horário</th>
            <th>Lote</th>
            <th>Validade</th>
            <th>Dispensação</th>
    </div>


    <%for (prescricaoFarmacia of farmacia){%>
        <tr>
            <td class="medicamento">
                <%=prescricaoFarmacia.nomeMedicamento%>
            </td>
            <td>
                <%=prescricaoFarmacia.via%>
            </td>
            <td>
                <%=prescricaoFarmacia.intervalo%>
            </td>
            <td>
                <%=prescricaoFarmacia.formaFarmaceutica%>
            </td>
            <td>
                <%=prescricaoFarmacia.horario%>
            </td>
            <td>
                <%=prescricaoFarmacia.lote%>
            </td>
            <td>
                <%=prescricaoFarmacia.validade%>
            </td>
            <td>
                <div class="input">
                    <input type="checkbox"> </div>
            </td>
        </tr>
        <% } %>
            </table>
