<%- contentFor('body') %>

<div class="box effect1 flex-container">
    <div class="div-img-acolhido">
        <img tabindex="0" src="img/pessoinha.jpg" class="img-acolhido" data-target="Foto Acolhido">
    </div>
    <div class="inf">
        <p>
            <span class="bold"> Nome: </span>
            <span>
                <%=acolhido.nome%>
            </span>
        </p>
        <p>
            <span class="bold"> Idade: </span>
            <span>
                <%=acolhido.idade%>
            </span>
        </p>
        <p>
            <span class="bold"> Peso: </span>
            <span>
                <%=acolhido.peso%>
                    <i class="fa fa-edit edit"></i>
            </span>
            <a href="#" class="tiracor">

            </a>
            <span class="atualiza">Atualizado em: dd/mm/aaaa </span>
        </p>
        <p>
            <span class="bold"> Alergias: </span>
            <span>
                <%=acolhido.alergias%>
                    <i class="fa fa-edit edit"></i>
            </span>
            <span class="atualiza">Atualizado em: dd/mm/aaaa </span>
        </p>
        <p>
            <span class="bold"> Via de alimentação: </span>
            <span>
                <%=acolhido.via%>
                    <i class="fa fa-edit edit"></i>
            </span>
            <span class="atualiza">Atualizado em: dd/mm/aaaa </span>
        </p>
    </div>
</div>

<%- include tabela-abas %>